.container {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginCard {
  text-align: center;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  label, button, input {
    width: 90%;
  }
}

.mat-mdc-card-content {
  display: flex!important;
  flex-direction: column;
}
